div.card {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.header {
    color: white;
    padding: 10px;
    font-size: 40px;
  }

  .emailAddress{
      font-size:20px;
  }

  .tagTable{
background-color: pink;  }

.new-tag{
  color:white;
}